{% extends "base.html.j2" %}

{% block header %}
  {% include "header.html.j2" %}
{% endblock header %}

{% block body %}
  {% include "results.html.j2" %}
{% endblock body %}

{% block footer %}
  {% include "footer.html.j2" %}
{% endblock footer %}
