body {
  margin: auto;
  max-width: 50em;
}

header, footer {
  margin: 1em auto;
}

footer {
  text-align: right;
}

#results {
  margin: auto;
  max-width: 40em;
}

td.name {
  min-width: 10em;
  white-space: nowrap;
}

td.cpu_prime10000,
td.cpu_prime20000,
td.mem {
  text-align: right;
  padding-right: 5%;
}

th.asc {
  background-color: red;
}

th.desc {
  background-color: blue;
}
